[submodule "ansible/roles/java"]
	path = ansible/roles/java
	url = https://github.com/gitinsky/ansible-role-java.git
[submodule "ansible/roles/prometheus-container"]
	path = ansible/roles/prometheus-container
	url = https://github.com/gitinsky/ansible-role-prometheus-container.git
[submodule "ansible/roles/docker-io"]
	path = ansible/roles/docker-io
	url = https://github.com/gitinsky/docker-io.git
[submodule "ansible/roles/docker.ubuntu"]
	path = ansible/roles/docker.ubuntu
	url = https://github.com/gitinsky/docker.ubuntu.git
[submodule "ansible/roles/grafana-dockerized"]
	path = ansible/roles/grafana-dockerized
	url = https://github.com/gitinsky/ansible-role-grafana-dockerized.git
[submodule "ansible/roles/grafana-container"]
	path = ansible/roles/grafana-container
	url = https://github.com/gitinsky/ansible-role-grafana-container.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = https://github.com/gitinsky/ansible-role-nginx.git
