[Unit]
Description=Odva Service
Documentation=https://github.com/alexclear/odva

[Service]
Type=simple
User={{ odva_user }}
Group={{ odva_user }}
ExecStart=/usr/bin/java -jar /home/{{ odva_user }}/odva-0.0.1-SNAPSHOT-standalone.jar -p {{ odva_port }} &
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
Alias={{ odva_user }}.service
