[Unit]
Description=Odva Service
Documentation=https://github.com/alexclear/odva

[Service]
Type=simple
User=odva
Group=odva
ExecStart=/usr/bin/java -jar /home/odva/odva-0.0.1-SNAPSHOT-standalone.jar &
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
Alias=odva.service
